<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ZuriPage</title>
</head>
<body>
<h1> hello this is another page</h1>
<p> {{name}} </p>
<h2> its fun with django</h2>
<input type="text" name="name" placeholder="enter name"><br>
<h1></h1>
<input type="email" name=" email" placeholder="email"><br>
<h1></h1>
<textarea name="message" rows="20px" cols="20px" placeholder="write to us a message"></textarea><br>
<h1></h1>
<input type="submit" placeholder="submit">


</body>
</html>